@import '../../styles/base.scss';

.input input{
    margin:10px 0;
}
button{
    margin:0 auto;
    display: block;
}
.find-password{
    text-align: center;
    margin-top:30px;
    cursor:pointer;
    &:hover{
        text-decoration: underline;
    }
}